# =============================================================================
#  pdo_sqlcipher — .gitignore
# =============================================================================

release/
rls/
tests/compiled_tests/
tests/docker-logs/
tests/Dockerfile.dev.generated
tests/docker-compose.override.yml
package/DEBIAN/md5sums
package/usr/
package/etc/
